{namespace templates.teapot.screen}
/**
 * Template for the footer section of all screens
 */
{template .Footer}
<footer>
	<a class="appName" href="#Home">the teapot</a>
	<div class="links">
		<a href="#Builder">builder</a> | <a href="#Viewer">viewer</a>
	</div>
</footer>
{/template}